version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: avito-test-task
    ports:
      - "8080:8080"
    volumes:
      - ./storage:/app/storages
